body {
    background-color: rgb(233, 233, 233) !important
}
.container-sm.text-white.d-flex {
    display: flex !important;
    justify-content: space-evenly !important;
}
option#Option_1 {
    display: none;
}
option#Option_2 {
    display: none;
}
option#Option_3 {
    display: none;
}
option#Option_4 {
    display: none;
}
button#Finish_Btn {
    display: none;
}
body#QuestionPlayerBody {
    background-color: rgb(233, 233, 233) !important;
}
.mt-6 {
    margin-top: 7rem !important;
  }
  button#Answer_1 {
    border: 2px solid black;
}
button#Answer_2 {
    border: 2px solid black;
}
button#Answer_3 {
    border: 2px solid black;
}
button#Answer_4 {
    border: 2px solid black;
}
li.list-group-item.d-flex.justify-content-between.align-items-center {
    background: transparent;
    border: 2px solid black;
    margin: -1px;
    cursor: pointer;
}
div#CorrectWrongDiv {
    width: max(240px,250px);
}

img.img-fluid {
    width: 30px;
}
